.marker {
    background-image: url('bear.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    /*max-width: 200px; */
}

.mapboxgl-popup-content {
    max-width: 550px;
    max-height: 330px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.custom-popup-item {
    margin: 2px;
    /*width: 200px;*/
    height: 100px;
    align-self: center;
}

.custom-popup-item:nth-child(4n) {
    /*flex-basis: 100%;*/
}

