{:deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        reagent {:mvn/version "0.8.1"}
				hipo {:mvn/version "0.5.2"}
				org.clojure/core.async {:mvn/version "0.4.490"}
				cljs-http  {:mvn/version "0.1.46"}
				com.cognitect/transit-cljs {:mvn/version "0.8.256"}}

:paths ["src" "target" "resources"]}
